
@{
    ViewBag.Title = "AddStudent";
}

<h2>Form</h2>
@{Html.BeginForm("Insert", "NVDStudent");}
@Html.Label("Mã sinh viên");
@Html.TextBox("Hoten", "Duoc Duoc"); 
    
@{Html.EndForm();}
@{
    int[] names = { 10, 30, 21, 23, 24 };
}
@foreach (var item in names)
{
    <li>@item</li>
}

